html, body {
    margin: 0;
    width: 98vw;
    height: 98vh;
}

.info_div {
    font-family: 'arial';
    font-size: 20px;
    width: 68vw;
    margin: 4px auto;
}

#plot_div {
    width: 90vw;
    margin: 0px auto;
    height: 800px;
}

iframe {
    width: 100%;
    height: 100%;
    margin-bottom: 100px;
}

#map_div {
    margin: 2px auto;
    width: 60vw;
    height: 90vh;
}

video {
    display: block;
    height: 100%;
    margin: 0px auto;
    max-height: 80vh;
}

.vid_div {
    margin: 2px auto;
    width: 60vw;
}

#control_div {
    width: 60vw;
    margin: 0px auto;
}

#heatmap_div {
    width: 60vw;
    height: 40px;
    margin: 0px auto;
    margin-bottom: 20px;
}

#heatmap {
    width: 80%;
    display: block;
    margin: 0px auto;
}

.button {
    width: 100%;
    height: 100%;
    margin: 0px;
    font-size: 20px;
    padding: 0px;
    border: none;
    outline: none; /* Remove outline */
    opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
    -webkit-transition: .2s; /* 0.2 seconds transition on hover */
    transition: opacity .2s;
}

.buttoncontainer {
    vertical-align: top;
    margin: 2px 0px;
    display: inline-block;
    height: 25px;
    width: 15%
}

.slidecontainer {
    width: 55%; /* Width of the outside container */
    display: inline-block
}

.timestampcontainer {
    vertical-align: top;
    width: 28%; /* Width of the outside container */
    height: 25px;
    display: inline-block;
    text-align: center;
}

#timestamp {
    margin: 0px auto;
    font-size: 24px;
    font-family: 'arial';
    width: 100%;
    height: 100%;
}

/* The slider itself */
.slider {
    -webkit-appearance: none;  /* Override default CSS styles */
    appearance: none;
    width: 100%; /* Full-width */
    height: 25px; /* Specified height */
    background-color: #d3d3d3; /* Grey background */
    background-repeat:no-repeat;
    border: none;
    outline: none; /* Remove outline */
    opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
    -webkit-transition: .2s; /* 0.2 seconds transition on hover */
    transition: opacity .2s;
}

/* Mouse-over effects */
.slider:hover, .button:hover {
    opacity: 1; /* Fully shown on mouse-over */
}

/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
.slider::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    width: 25px; /* Set a specific slider handle width */
    height: 25px; /* Slider handle height */
    background: #7E03A7; /* Purple background */
    cursor: pointer; /* Cursor on hover */
}

.slider::-moz-range-thumb {
    width: 25px; /* Set a specific slider handle width */
    height: 25px; /* Slider handle height */
    background: #7E03A7; /* Purple background */
    cursor: pointer; /* Cursor on hover */
}